[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "conos"]
	path = conos
	url = https://github.com/kharchenkolab/conos
	shallow = true
	registered = true
[submodule "leidenAlg"]
	path = leidenAlg
	url = https://github.com/kharchenkolab/leidenalg
	shallow = true
	registered = true
[submodule "N2R"]
	path = N2R
	url = https://github.com/kharchenkolab/n2r
	shallow = true
	registered = true
[submodule "pagoda2"]
	path = pagoda2
	url = https://github.com/kharchenkolab/pagoda2
	shallow = true
	registered = true
[submodule "sccore"]
	path = sccore
	url = https://github.com/kharchenkolab/sccore
	shallow = true
	registered = true
[submodule "vrnmf"]
	path = vrnmf
	url = https://github.com/kharchenkolab/vrnmf
	shallow = true
	registered = true
