[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "N2R"]
	path = N2R
	url = https://github.com/kharchenkolab/n2r
[submodule "conos"]
	path = conos
	url = https://github.com/kharchenkolab/conos
[submodule "leidenAlg"]
	path = leidenAlg
	url = https://github.com/kharchenkolab/leidenalg
[submodule "numbat"]
	path = numbat
	url = https://github.com/kharchenkolab/numbat
[submodule "pagoda2"]
	path = pagoda2
	url = https://github.com/kharchenkolab/pagoda2
[submodule "sccore"]
	path = sccore
	url = https://github.com/kharchenkolab/sccore
[submodule "scistreer"]
	path = scistreer
	url = https://github.com/kharchenkolab/scistreer
[submodule "vrnmf"]
	path = vrnmf
	url = https://github.com/kharchenkolab/vrnmf
